<section id="features" class="services-area pt-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title text-center mb-1">
                    <div class="line m-auto"></div>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="/airticket-booking" id="airticket_oneway-btn" class="btn btn-primary">One Way</a>
                            <a href="/airticketbookingroundway" id="airticket_roundtrip-btn" class="btn btn-secondary">Round Trip</a>
                            <a href="/recentsairticketsbooked" id="airticket_roundtrip-btn" class="btn btn-warning">Recents Air Tickets</a>
                        </div>
                        <h3 class="title">
                            Online Air Ticket Booking
                            <i class="fas fa-plane-departure"></i>
                        </h3>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>