<%- include('includes/dashboard-taxibooking-navigation.ejs') %>
    
    <section id="features" class="services-area pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-title text-center mb-1">
                        <div class="line m-auto"></div>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="/airticket-request" id="airticket_oneway-btn" class="btn btn-primary">One Way</a>
                                <a href="/airticketrequestroundway" id="airticket_roundtrip-btn" class="btn btn-secondary">Round Trip</a>
                            </div>
                            <h3 class="title">
                                Online Air Ticket Request
                                <i class="fas fa-plane-departure"></i>
                            </h3>
                            
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <section id="features" class="services-area">
        
        <div class="container">
            <div class="row justify-content-center">
                <div class="card w-75">
                    <div class="card-body">
                        <p class="h3 text-center text-primary">
                            Delhi <i class="fas fa-arrow-right"></i> Goa
                        </p>

                        <a class="card-link float-right" href="#!">
                            <i class="fas mr-1 fa-download"></i>Attached File
                        </a>

                        <h5 class="card-title">
                            Air Ticket Title
                        </h5>
                        <p class="font-weight-bold text-dark">
                            Departure On: 21 August 2020 @ 9:00 AM<br> Arrival On: 24 August 2020 @ 10:00 PM
                        </p>
                        <p class="card-text">
                            Delhi, India’s capital territory, is a massive metropolitan area in the country’s north. In Old Delhi, a neighborhood dating to the 1600s, stands the imposing Mughal-era Red Fort, a symbol of India, and the sprawling Jama Masjid mosque, whose courtyard accommodates 25,000 people. Nearby is Chandni Chowk, a vibrant bazaar filled with food carts, sweets shops and spice stalls.
                        </p>
                        <button class="btn btn-primary mt-2">
                            Approve
                        </button>
                        <button class="btn btn-secondary mt-2">
                            Disapprove
                        </button>
                    </div>
                </div>

                <div class="card w-75 mt-1">
                    <div class="card-body">
                        <p class="h3 text-center text-primary">
                            Banglore <i class="fas fa-arrow-right"></i> Delhi
                        </p>

                        <a class="card-link float-right" href="#!">
                            <i class="fas mr-1 fa-download"></i>Attached File
                        </a>

                        <h5 class="card-title">
                            Air Ticket Title
                        </h5>
                        <p class="font-weight-bold text-dark">
                            Departure On: 21 August 2020 @ 9:00 AM<br> Arrival On: 24 August 2020 @ 10:00 PM
                        </p>
                        <p class="card-text">
                            Delhi, India’s capital territory, is a massive metropolitan area in the country’s north. In Old Delhi, a neighborhood dating to the 1600s, stands the imposing Mughal-era Red Fort, a symbol of India, and the sprawling Jama Masjid mosque, whose courtyard accommodates 25,000 people. Nearby is Chandni Chowk, a vibrant bazaar filled with food carts, sweets shops and spice stalls.
                        </p>
                        <button class="btn btn-primary mt-2">
                            Approve
                        </button>
                        <button class="btn btn-secondary mt-2">
                            Disapprove
                        </button>
                    </div>
                </div>
                <!-- Default form contact -->
                
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
   
    <%- include('includes/home-footer.ejs') %>