<%- include('includes/dashboard-taxibooking-navigation.ejs') %>
    
    <section id="features" class="services-area pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-title text-center mb-1">
                        <div class="line m-auto"></div>
                            <h3 class="title">
                                Air Ticket Reports Generations
                                <i class="fas fa-plane-departure"></i>
                            </h3>
                            
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <section id="features" class="services-area">
        <div class="container w-75">
            <form accept="#!">
                <div class="form-group">
                    <label for="exampleInputEmail1">Search By Name, ID, Email Address, Tour</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <a href="/search-profile-airtickets" class="btn btn-primary">Search</a>
            </form>
        </div>
    </section>


    <section class="services-area">
        <div class="container w-75">
            <h4 class="mt-3 mb-2 text-center">
                Recents Air Tickets Booked
            </h4>
            <section id="features" class="services-area">
            
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="card w-75">
                            <div class="card-body">
                                <a href="#!" class="float-right text-danger h5">
                                    <i class="fas fa-trash"></i> 
                                </a>
                                <p class="h3 text-center text-primary">
                                    Delhi <i class="fas fa-arrows-alt-h"></i> Goa
                                </p>
        
                                <a class="card-link float-right" href="#!">
                                    <i class="fas mr-1 fa-download"></i>Attached File
                                </a>
        
                                <h5 class="card-title">
                                    My Meeting Purpose
                                </h5>
                                
                                <div class="row">
                                    <div class="col">
                                        <p class="font-weight-bold text-dark">
                                            From Delhi <br>
                                            Departure On: 21 August 2020 @ 9:00 AM<br> Arrival On: 24 August 2020 @ 10:00 PM <br> By Air India
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p class="font-weight-bold text-dark">
                                            From Goa <br>
                                            Departure On: 21 August 2020 @ 9:00 AM<br> Arrival On: 24 August 2020 @ 10:00 PM <br> By Air India
                                        </p>
                                    </div>
                                </div>
        
                                
        
        
                                <p class="card-text mt-2">
                                    Delhi, India’s capital territory, is a massive metropolitan area in the country’s north. In Old Delhi, a neighborhood dating to the 1600s, stands the imposing Mughal-era Red Fort, a symbol of India, and the sprawling Jama Masjid mosque, whose courtyard accommodates 25,000 people. Nearby is Chandni Chowk, a vibrant bazaar filled with food carts, sweets shops and spice stalls.
                                </p>
                                <center>
                                    <button class="btn mt-2 w-50 btn-outline-danger">Disapproved <i class="fas fa-minus-circle"></i></button>
                                </center>
                            </div>
                        </div>
        
                        <div class="card w-75 mt-1">
                            <div class="card-body">
                                <a href="#!" class="float-right text-danger h5">
                                    <i class="fas fa-trash"></i> 
                                </a>
                                <p class="h3 text-center text-primary">
                                    Banglore <i class="fas fa-arrows-alt-h"></i> Delhi
                                </p>
        
                                <a class="card-link float-right" href="#!">
                                    <i class="fas mr-1 fa-download"></i>Attached File
                                </a>
        
                                <h5 class="card-title">
                                    Air Ticket Title
                                </h5>
        
                                
                                
                                
                                <div class="row">
                                    <div class="col">
                                        <p class="font-weight-bold text-dark">
                                            From Delhi <br>
                                            Departure On: 21 August 2020 @ 9:00 AM<br> Arrival On: 24 August 2020 @ 10:00 PM <br> By Air India
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p class="font-weight-bold text-dark">
                                            From Goa <br>
                                            Departure On: 21 August 2020 @ 9:00 AM<br> Arrival On: 24 August 2020 @ 10:00 PM <br> By Air India
                                        </p>
                                    </div>
                                </div>
        
                                
        
        
                                <p class="card-text mt-2">
                                    Delhi, India’s capital territory, is a massive metropolitan area in the country’s north. In Old Delhi, a neighborhood dating to the 1600s, stands the imposing Mughal-era Red Fort, a symbol of India, and the sprawling Jama Masjid mosque, whose courtyard accommodates 25,000 people. Nearby is Chandni Chowk, a vibrant bazaar filled with food carts, sweets shops and spice stalls.
                                </p>
                                <center>
                                    <button class="btn mt-2 w-50 btn-outline-danger">Disapproved <i class="fas fa-minus-circle"></i></button>
                                </center>
                            </div>
                        </div>
                        <!-- Default form contact -->
                        
                    </div> <!-- row -->
                </div> <!-- container -->
            </section>
        </div>
        
    </section>
    
   
    <%- include('includes/home-footer.ejs') %>